body {
    padding: 0;
    margin: 0;
    background-color: black;

}

.tankimage {
    opacity: 0.6;
    width: 100vw;
    height: 45.5em;
    z-index: -1; /* Fotoğraf arka planda */
    position: relative; /* Fotoğrafın pozisyonu ayarlanabilir */
}

.LoginButton {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    z-index: 1; /* Buton ön planda */
    font-size: 2em;
    width: 5em;
    height: 1.3em; /* Buton boyutunu ayarladım */ 
    top: 20%; /* Fotoğrafın üst kısmına 20px mesafe */
    left: 70%; /* Ortalayabilmek için */
    padding-left: 2%;
    padding-right: 2%;
}

.SoloButton{
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    z-index: 1; /* Buton ön planda */
    font-size: 2em;
    width: 5em;
    height: 1.3em; /* Buton boyutunu ayarladım */ 
    position: absolute; /* Butonun konumunu sabitliyoruz */
    top: 30%; /* Fotoğrafın üst kısmına 20px mesafe */
    left: 70%; /* Ortalayabilmek için */
    transform: translateX(-50%); /* Gerçekten ortalamak için */
    padding-left: 2%;
    padding-right: 2%;
}

.TwoPlayerButton{
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    z-index: 1; /* Buton ön planda */
    font-size: 2em;
    width: 5em;
    height: 2.4em; /* Buton boyutunu ayarladım */ 
    position: absolute; /* Butonun konumunu sabitliyoruz */
    top: 40%; /* Fotoğrafın üst kısmına 20px mesafe */
    left: 70%; /* Ortalayabilmek için */
    transform: translateX(-50%); /* Gerçekten ortalamak için */
    padding-left: 2%;
    padding-right: 2%;
}



.SettingsButton{
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    z-index: 1;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: aliceblue;
    z-index: 1; /* Buton ön planda */
    font-size: 2em;
    width: 5em;
    height: 1.3em; /* Buton boyutunu ayarladım */ 
    position: absolute; /* Butonun konumunu sabitliyoruz */
    top: 55%; /* Fotoğrafın üst kısmına 20px mesafe */
    left: 70%; /* Ortalayabilmek için */
    transform: translateX(-50%); /* Gerçekten ortalamak için */ 
    padding-left: 2%;
    padding-right: 2%;
}

.LoginButton:hover, .SoloButton:hover, .TwoPlayerButton:hover, .SettingsButton:hover{
    color: rgb(135, 91, 65);
}

