

.PlayerNames{
    margin: 0px;
    padding: 0px;
}

.playernameh2{
    color: aliceblue;
    width: 50%;
    top: 20%;
    margin-left: 20%;
    margin-top: 3em;
}

.Player1input{
    width: 50%;
    top: 20%;
    margin-left: 20%;
    color: aliceblue;
}
    

.Player2input{
    width: 50%;
    top: 20%;
    margin-left: 20%;
    color: aliceblue;
}

.PlayerNameh1{
    margin-left: 30%;
    color: white;
}